<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Order Management</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="app/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/app/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <!-- <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.js"></script> -->
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.css">
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function()
    {
        $('#mytable').DataTable(
        {
            dom: 'T<"clear">lfrtip',
            tableTools:
            {
                "sSwfPath": "/DataTables-1.10.7/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": ["select_all", "select_none",
                    "copy",
                    "print",
                    "csv",
                    "xls",
                    "pdf"
                ]
            }
        });
        var username = $('#name').val();
        var team = $('#team').val();
        var role = $('#role').val();
        $.getJSON("http://localhost:3000/api/teams", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                if (role < 3)
                {
                    listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
                }
                else
                {
                    if (team == val.name)
                        listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
                }

            });
            $("#inputTeam").html(listItems);
        });
        $('button#Add').on('click', function()
        {
            var username = $('#name').val();
            var team = $('#team').val();
            console.log(team);
            var role = $('#role').val();
            $('#message').html('');
            $(".modal-title").text("Add order");
            $("#modalform").attr("action", "order/add");
            $("#inputCategory").val("");
            $("#inputVendor").val("");
            $("#inputQuantity").val("");
            $("#inputUnitPrice").val("");
            $("#inputOrder").val("");
            var myDate = new Date();
            var mytime = myDate.toLocaleString(); //获取当前时间
            var formattime = moment(mytime).format('YYYY-MM-DD HH:MM')
            $('#inputDate').val(formattime);
            $('#inputTeam').val(team);
            $('#inputComment').val("");
            $('#inputId').val("");
        });
        $('#saveSubmit').on('click', function()
        {
            $("#message").html();
            var category = $("#inputCategory").val().trim();
            $("#inputCategory").val(category);
            if (category.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Category can not be empty</div>');
                return;
            }
            var vendor = $("#inputVendor").val().trim();
            $("#inputVendor").val(vendor);
            if (vendor.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Vendor can not be empty</div>');
                return;
            }
            var quantity = $("#inputQuantity").val().trim();
            $("#inputQuantity").val(quantity);
            if (quantity.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Quantity can not be empty</div>');
                return;
            }
            var unitPrice = $("#inputUnitPrice").val().trim();
            $("#inputUnitPrice").val(unitPrice);
            if (unitPrice.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Unit Price can not be empty</div>');
                return;
            }
            var order = $("#inputOrder").val().trim();
            $("#inputOrder").val(order);
            if (order.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Order can not be empty</div>');
                return;
            }
            var comment = $("#inputComment").val().trim();
            $("#inputComment").val(comment);
            if (comment.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Comment can not be empty</div>');
                return;
            }
            if ($("#inputTeam").val() == null)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Please select the team</div>');
                return;
            }
        });
    });


    $(function()
    {
        $('button#Edit').on('click', function()
        {
            $('#message').html('');
            var id = $(event.target).closest('tr').find('#id').text().trim();
            var category = $(event.target).closest('tr').find('#category').text().trim();
            var vendor = $(event.target).closest('tr').find('#vendor').text().trim();
            var quantity = $(event.target).closest('tr').find("#quantity").text().trim();
            var unitprice = $(event.target).closest('tr').find("#unitprice").text().trim();
            var date = $(event.target).closest("tr").find("#date").text().trim();
            var order = $(event.target).closest("tr").find("#order").text().trim();
            var comment = $(event.target).closest("tr").find("#comment").text().trim();
            var teamId = $(event.target).closest("tr").find("#teamId").text().trim();
            $(".modal-title").text("Edit order");
            $("#modalform").attr("action", "order/update");
            $("#inputCategory").val(category);
            $("#inputVendor").val(vendor);
            $("#inputQuantity").val(quantity);
            $("#inputUnitPrice").val(unitprice);
            $("#inputOrder").val(order);
            $('#inputDate').val(date);
            console.log(teamId);
            $('#inputTeam').val(teamId);
            $('#inputComment').val(comment);
            $('#inputId').val(id);
        });
    });
    $(function() {

    });

    var deleteCount = 0;
    $(function()
    {
        $('button#delete').on('click', function()
        {
            var oTT = TableTools.fnGetInstance('mytable');
            var aSelectedTrs = oTT.fnGetSelectedData();
            var deleteCount = aSelectedTrs.length;
            if (aSelectedTrs != null)
                $.each(aSelectedTrs, function(i, value)
                {
                    console.log(value[0]);
                    $.ajax(
                    {
                        url: "/api/orders/" + value[0],
                        type: 'DELETE',
                        success: function(result)
                        {
                            deleteCount--;
                            if (deleteCount == 0)
                                location.reload();
                        }
                    });

                });
        })
    });
    </script>
</head>

<body>
    <% include nav %>
        <div class="container">
            <h1>Order Managment</h1>
            <div class="table-responsive">
                <table id="mytable" class="display">
                    <thead>
                        <tr>
                            <th style="width:5%">Id</th>
                            <th style="width:10%">Category</th>
                            <th style="width:10%" class="hidden-phone">Vendor</th>
                            <th style="width:10%" class="hidden-phone">Quantity</th>
                            <th style="width:15%" class="hidden-phone">Unit Price</th>
                            <th style="width:10%" class="hidden-phone">Order</th>
                            <th style="width:15%" class="hidden-phone">DateTime</th>
                            <th style="width:15%" class="hidden-phone">Comment</th>
                            <th style="width:15%" class="hidden-phone">Team</th>
                            <th style="width:15%" class="hidden-phone">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allOrderInfo.forEach(function(orderInfo) { %>
                            <tr>
                                <td id="id">
                                    <%=orderInfo.id %>
                                </td>
                                <td id="category">
                                    <%=orderInfo.category %>
                                </td>
                                <td class="hidden-phone" id="vendor">
                                    <%=orderInfo.vendor %>
                                </td>
                                <td class="hidden-phone" id="quantity">
                                    <%=orderInfo.quantity %>
                                </td>
                                <td class="hidden-phone" id="unitprice">
                                    <%=orderInfo.unitprice %>
                                </td>
                                <td class="hidden-phone" id="order">
                                    <%=orderInfo.order %>
                                </td>
                                <td class="hidden-phone" id="date">
                                    <%=moment(orderInfo.date).format( 'YYYY-MM-DD HH:MM') %>
                                </td>
                                <td class="hidden-phone" id="comment">
                                    <%=orderInfo.comment %>
                                </td>
                                <td class="hidden-phone" id="teamId">
                                    <%=orderInfo.teamId %>
                                </td>
                                <td class="hidden-phone">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Edit">Edit</a>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="Add">
                    Add
                </button>
                <button class="btn btn-lg btn-primary" type="submit" id="delete">Delete</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Order</h4>
                        </div>
                        <div id="message"></div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/order/update" method="post" name="modalform" id="modalform">
                                <input type="hidden" id="inputId" placeholder="Category" name="id">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Category</label>
                                    <div class="controls">
                                        <input type="text" id="inputCategory" placeholder="Category" name="category">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Vendor</label>
                                    <div class="controls">
                                        <input type="text" id="inputVendor" placeholder="Vendor" name="vendor">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Quantity</label>
                                    <div class="controls">
                                        <input type="text" id="inputQuantity" placeholder="Quantity" name="quantity">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Unit Price</label>
                                    <div class="controls">
                                        <input type="text" id="inputUnitPrice" placeholder="Unit Price" name="unitPrice">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Order</label>
                                    <div class="controls">
                                        <input type="text" id="inputOrder" placeholder="Order" name="order">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCreateTime">CreateTime</label>
                                    <div class="controls">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control" id="inputDate" name="date" />
                                                        <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                            $(function()
                                            {
                                                $('#datetimepicker1').datetimepicker(
                                                {
                                                    format: "YYYY-MM-DD HH:MM"
                                                });
                                            });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputComment">Comment</label>
                                    <div class="controls">
                                        <input type="text" id="inputComment" placeholder="Comment" name="comment">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Team</label>
                                    <div class="controls">
                                        <select name="team" id="inputTeam">
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Save changes" id="saveSubmit">
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
