<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Order Management</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script type="text/javascript" src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/app/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="app/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="/app/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <!-- <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.js"></script> -->
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.css">
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function()
    {
        $('#mytable').DataTable(
        {
            dom: 'T<"clear">lfrtip',
            tableTools:
            {
                "sSwfPath": "/DataTables-1.10.7/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": ["select_all", "select_none",
                    "copy",
                    "print",
                    "csv",
                    "xls",
                    "pdf"
                ]
            }
        });
        $.getJSON("http://localhost:3000/api/teams", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                //  console.log(val.name);
                listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
            });
            $("#inputTeam").html(listItems);
        });
    });


    $(function()
    {
        $('button#Edit').on('click', function()
        {
            var id = $(event.target).closest('tr').find('#id').text();
            var category = $(event.target).closest('tr').find('#category').text();
            var vendor = $(event.target).closest('tr').find('#vendor').text();
            var quantity = $(event.target).closest('tr').find("#quantity").text();
            var unitprice = $(event.target).closest('tr').find("#unitprice").text();
            var date = $(event.target).closest("tr").find("#date").text();
            var order = $(event.target).closest("tr").find("#order").text();
            var comment = $(event.target).closest("tr").find("#comment").text();
            var teamId = $(event.target).closest("tr").find("#teamId").text();
            $(".modal-title").text("Edit order");
            $("#modalform").attr("action", "order/update");
            $("#inputCategory").val(category);
            $("#inputVendor").val(vendor);
            $("#inputQuantity").val(quantity);
            $("#inputUnitPrice").val(unitprice);
            $("#inputOrder").val(order);
            $('#inputDate').val(date);
            console.log(teamId);
            $('#inputTeam').val(teamId);
            $('#inputComment').val(comment);
            $('#inputId').val(id);
        });
    });
    $(function()
    {
        $('button#Add').on('click', function()
        {
            $.getJSON("/api/teams", function(data)
            {
                var listItems;
                $.each(data, function(i, val)
                {
                    //  console.log(val.name);
                    listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
                });
                $("#inputTeam").html(listItems);
            });
            $(".modal-title").text("Add order");
            $("#modalform").attr("action", "order/add");
            $("#inputCategory").val("");
            $("#inputVendor").val("");
            $("#inputQuantity").val("");
            $("#inputUnitPrice").val("");
            $("#inputOrder").val("");
            var myDate = new Date();
            var mytime = myDate.toLocaleString(); //获取当前时间
            var formattime = moment(mytime).format('YYYY-MM-DD HH:MM:SS')
            $('#inputDate').val(formattime);

            $('#inputTeam').val("");
            $('#inputComment').val("");
            $('#inputId').val("");
        });
    });


    $(function()
    {
        $('button#delete').on('click', function()
        {
            var oTT = TableTools.fnGetInstance('mytable');
            var aSelectedTrs = oTT.fnGetSelectedData();
            if (aSelectedTrs != null)
                $.each(aSelectedTrs, function(i, value)
                {
                    console.log(value[0]);
                    $.ajax(
                    {
                        url: "/api/orders/" + value[0],
                        type: 'DELETE',
                        success: function(result)
                        {
                            location.reload();
                        }
                    });

                });
        })
    });
    </script>
</head>

<body>
    <% include nav %>
        <div class="container">
            <h1>Order Managment</h1>
            <!--     <form class="form-search">

      <input type="text" class="input-medium search-query">
      <button type="submit" class="btn btn-lg btn-primary">Search</button>
    </form> -->
            <!--     <form method="post" enctype="multipart/form-data" action="/order/file-upload">
      <input id="fulAvatar" name="fulAvatar" type="file" class="form-control" />   
      <input type="submit" class="btn btn-lg btn-primary" id="btnSub">
    </form> -->
            <div class="table-responsive">
                <table id="mytable" class="display">
                    <thead>
                        <tr>
                            <th style="width:5%">Id</th>
                            <th style="width:10%">Category</th>
                            <th style="width:10%" class="hidden-phone">Vendor</th>
                            <th style="width:10%" class="hidden-phone">Quantity</th>
                            <th style="width:15%" class="hidden-phone">Unit Price</th>
                            <th style="width:10%" class="hidden-phone">Order</th>
                            <th style="width:15%" class="hidden-phone">DateTime</th>
                            <th style="width:15%" class="hidden-phone">Comment</th>
                            <th style="width:15%" class="hidden-phone">Team</th>
                            <!--             <th style="width:15%" class="hidden-phone" >Delete</th> -->
                            <th style="width:15%" class="hidden-phone">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% allOrderInfo.forEach(function(orderInfo) { %>
                            <tr>
                                <td id="id">
                                    <%=o rderInfo.id %>
                                </td>
                                <td id="category">
                                    <%=o rderInfo.category %>
                                </td>
                                <td class="hidden-phone" id="vendor">
                                    <%=o rderInfo.vendor %>
                                </td>
                                <td class="hidden-phone" id="quantity">
                                    <%=o rderInfo.quantity %>
                                </td>
                                <td class="hidden-phone" id="unitprice">
                                    <%=o rderInfo.unitprice %>
                                </td>
                                <td class="hidden-phone" id="order">
                                    <%=o rderInfo.order %>
                                </td>
                                <td class="hidden-phone" id="date">
                                    <%=m oment(orderInfo.date).format( 'YYYY-MM-DD HH:MM:SS') %>
                                </td>
                                <td class="hidden-phone" id="comment">
                                    <%=o rderInfo.comment %>
                                </td>
                                <td class="hidden-phone" id="teamId">
                                    <%=o rderInfo.teamId %>
                                </td>
                                <!--             <td class="hidden-phone">
              <div class="btn-group"><a href="\order\delete\<%= orderInfo.id %>" class="btn btn-primary">Delete</a>
              </div>
            </td> -->
                                <td class="hidden-phone">
                                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Edit">Edit</a>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="Add">
                    Add
                </button>
                <button class="btn btn-lg btn-primary" type="submit" id="delete">Delete</button>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Order</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/order/update" method="post" name="modalform" id="modalform">
                                <input type="hidden" id="inputId" placeholder="Category" name="id">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Category</label>
                                    <div class="controls">
                                        <input type="text" id="inputCategory" placeholder="Category" name="category">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Vendor</label>
                                    <div class="controls">
                                        <input type="text" id="inputVendor" placeholder="Vendor" name="vendor">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Quantity</label>
                                    <div class="controls">
                                        <input type="text" id="inputQuantity" placeholder="Quantity" name="quantity">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Unit Price</label>
                                    <div class="controls">
                                        <input type="text" id="inputUnitPrice" placeholder="Unit Price" name="unitPrice">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Order</label>
                                    <div class="controls">
                                        <input type="text" id="inputOrder" placeholder="Order" name="order">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCreateTime">CreateTime</label>
                                    <div class="controls">
                                        <div class="row">
                                            <div class='col-sm-6'>
                                                <div class="form-group">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        <input type='text' class="form-control" id="inputDate" name="date" />
                                                        <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                            $(function()
                                            {
                                                $('#datetimepicker1').datetimepicker(
                                                {
                                                    format: "YYYY-MM-DD HH:MM:SS"
                                                });
                                            });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputComment">Comment</label>
                                    <div class="controls">
                                        <input type="text" id="inputComment" placeholder="Comment" name="comment">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Team</label>
                                    <div class="controls">
                                        <select name="team" id="inputTeam">
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Save changes">
                                    </button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
