<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Asset Management</title>
    <!-- <script src="http://datatables.net/release-datatables/media/js/jquery.js"></script> -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <!-- <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script> -->
    <script type="text/javascript" src="/app/bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="app/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" href="/app/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/extensions/TableTools/css/dataTables.tableTools.css">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/extensions/FixedColumns/css/dataTables.fixedColumns.css">
    <script src="/js/resource.js"></script>
    <script>
    </script>
    <script>
    </script>
</head>

<body>
    <% include nav %>
        <div class="container">
            <h1>Asset Management</h1>
            <div class="table-responsive">
                <table id="mytable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th hidden='true'>Template</th>
                            <th>Type</th>
                            <th>Manufa</th>
                            <th>Model</th>
                            <th>Size</th>
                            <th>Server</th>
                            <th>User</th>
                            <th>Team</th>
                            <th>Location</th>
                            <th>Position</th>
                            <th>Number</th>
                            <th>Create Time</th>
                            <th>Discard</th>
                            <th>Status</th>
                            <th>Check</th>
                            <!--             <th style="width:5%" >Trans</th> -->
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th hidden='true'>Template</th>
                            <th>Type</th>
                            <th>Manufa</th>
                            <th>Model</th>
                            <th>Size</th>
                            <th>Server</th>
                            <th>User</th>
                            <th>Team</th>
                            <th>Location</th>
                            <th>Position</th>
                            <th>Number</th>
                            <th>Create Time</th>
                            <th>Discard</th>
                            <th>Status</th>
                            <th>Check</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <%if(typeof allResourceInfo !='undefined' )%>
                            <%{%>
                                <% allResourceInfo.forEach(function(resourceInfo) { %>
                                    <tr>
                                        <td id="id">
                                            <%=resourceInfo.id %>
                                        </td>
                                        <td id="name">
                                            <a href="javascript:;" id="Detail" class="detailclass">
                                                <%=resourceInfo.name.trim() %>
                                            </a>
                                        </td>
                                        <td hidden='true' class="hidden-phone" id="template">
                                            <%=resourceInfo.template %>
                                        </td>
                                        <td class="hidden-phone" id="type">
                                            <%=resourceInfo.type %>
                                        </td>
                                        <td class="hidden-phone" id="manufacturer">
                                            <%=resourceInfo.manufacturer %>
                                        </td>
                                        <td class="hidden-phone" id="model">
                                            <%=resourceInfo.model %>
                                        </td>
                                        <td class="hidden-phone" id="size">
                                            <%=resourceInfo.size %>
                                        </td>
                                        <td class="serverId" id="serverId">
                                            <%=resourceInfo.serverId %>
                                        </td>
                                        <td class="hidden-phone" id="userId">
                                            <%=resourceInfo.userId %>
                                        </td>
                                        <td class="hidden-phone" id="teamId">
                                            <%=resourceInfo.teamId %>
                                        </td>
                                        <td class="hidden-phone" id="location">
                                            <%=resourceInfo.location %>
                                        </td>
                                        <td class="hidden-phone" id="position">
                                            <%=resourceInfo.position %>
                                        </td>
                                        <td class="hidden-phone" id="number">
                                            <%=resourceInfo.number %>
                                        </td>
                                        <td class="hidden-phone" id="createtime">
                                            <%=moment(resourceInfo.createtime).format( 'YYYY-MM-DD HH:MM:SS')%>
                                        </td>
                                        <td class="hidden-phone" id="discard">
                                            <%=resourceInfo.discard %>
                                        </td>
                                        <td class="hidden-phone" id="status">
                                            <%=resourceInfo.status %>
                                        </td>
                                        <td class="hidden-phone" id="check">
                                            <%=resourceInfo.check%>
                                    </tr>
                                    <% }); %>
                                        <%}%>
                    </tbody>
                </table>
            </div>
            <div class="form-actions">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Add">
                    Add
                </button>
                <button class="btn btn-primary" type="submit" id="Delete">Delete</button>
                <button class="btn btn-primary" id="TransferAll">Transfer</button>
                <button class="btn btn-primary" id="Edit">Edit</button>
                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Asset</h4>
                            </div>
                            <div id="message"></div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="modalform">
                                    <input type="hidden" id="inputId" name="id">
                                    <table style="width:100%">
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputName">Name</label>
                                                    <input type="text" id="inputName" placeholder="Name" name="name">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputType">Template</label>
                                                    <select name="template" id="inputTemplate" onChange="getTemplateInfo(this.value)">
                                                        <option value="" selected="selected">Select Template</option>
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputType">Type</label>
                                                    <select name="type" id="inputType">
                                                        <!-- <option value="" selected="selected">Select Type</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputManufacturer">Manufacturer</label>
                                                    <select name="manufacturer" id="inputManufacturer">
                                                        <!--    <option value="" selected="selected">Select</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputModel">Model</label>
                                                    <select name="model" id="inputModel">
                                                        <!--  <option value="" selected="selected">Select Model</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputSize">Size</label>
                                                    <select id="inputSize" name="size">
                                                        <!--  <option value="" selected="selected">Select Size</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputServerId">Server</label>
                                                    <select name="serverId" id="inputServerId">
                                                        <option value="None" selected="selected">None</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputLocation">Location</label>
                                                    <select name="location" id="inputLocation">
                                                        <!-- <option value="" selected="selected">Select Location</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputTeamId">Team</label>
                                                    <select name="teamId" id="inputTeamId">
                                                        <!-- <option value="" selected="selected">Select Team</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputUserId">User</label>
                                                    <select name="userId" id="inputUserId">
                                                        <!-- <option value="">Select User</option> -->
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputPosition">Position</label>
                                                    <select name="position" id="inputPosition">
                                                        <!--  <option value="" selected="selected">Select Position </option> -->
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputNumber">Number</label>
                                                    <input type="text" id="inputNumber" placeholder="Number" name="number">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputDiscard">Discard</label>
                                                    <select name="discard" id="inputDiscard">
                                                        <option value="Not Discard" selected="selected">Not Discard</option>
                                                        <option value="Discard">Discard</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputStatus">Status</label>
                                                    <select name="status" id="inputStatus">
                                                        <!-- <option value="" selected="selected">Select Status </option> -->
                                                    </select>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputCheck">Check</label>
                                                    <select name="check" id="inputCheck">
                                                        <option value="Checked" selected="selected">Checked</option>
                                                        <option value="Uncheck">Uncheck</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="control-group">
                                                    <label class="control-label" for="inputCount">Count</label>
                                                    <input type="text" id="inputCount" placeholder="Count" name="count" value="1">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="control-group">
                                        <label class="control-label" for="inputCreateTime">CreateTime</label>
                                        <div class="controls">
                                            <div class="row">
                                                <div class='col-sm-6'>
                                                    <div class="form-group">
                                                        <div class='input-group date' id='datetimepicker1'>
                                                            <input type='text' class="form-control" id="inputCreateTime" name="createtime" />
                                                            <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script type="text/javascript">
                                                $(function()
                                                {
                                                    $('#datetimepicker1').datetimepicker(
                                                    {
                                                        format: "YYYY-MM-DD HH:MM"
                                                    });
                                                });
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </form>
                                <div class="modal-footer">
                                        <button  class="btn btn-primary" id="saveSubmit">Save changes</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Transfer Modal -->
                <div class="modal fade" id="TransferModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Add Asset</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal" id="modalform">
                                    <input type="hidden" id="assetId" name="id">
                                    <input type="hidden" id="assetType" name="type">
                                    <input type="hidden" id="sourceName" name="source">
                                    <div class="control-group">
                                        <label class="control-label" for="inputUserName">Name</label>
                                        <div class="controls">
                                            <select name="dest" id="inputUserName">
                                            </select>
                                        </div>
                                    </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="TransferOne">Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Detail Modal -->
            <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Asset Detail</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="modalform">
                                <input type="hidden" id="inputId" name="id">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <label class="control-label" for="inputName">Name:</label>
                                                <label class="control-label" for="inputName" id="DetailName">Name</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="control-group">
                                                <label class="control-label" for="inputType">Type:</label>
                                                <label class="control-label" for="inputName" id="DetailType">Type</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="control-group">
                                                <label class="control-label" for="inputType">Barcode:</label>
                                                <label class="control-label" for="inputType" id="DetailBarcode">barcode</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="control-group">
                                                <label class="control-label" for="inputServerId">IP:</label>
                                                <label class="control-label" for="inputServerId" id="DetailIP">IP</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                    </tr>
                                </table>
                                <div class="control-group">
                                    <label class="control-label" for="inputUserId">Description:</label>
                                    <label class="control-label" for="inputServerId" id="DetailDescription">Description</label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--TransferAllModal-->
            <div class="modal fade" id="TransferAllModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Transfer Asset</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" id="modalform">
                                <div class="control-group">
                                    <label class="control-label" for="transfTransferAllerAllInputUserName">Count</label>
                                    <div class="controls">
                                        <select name="count" id="transferAllSelectCount">
                                        </select>
                                    </div>
                                    <label class="control-label" for="transfTransferAllerAllInputUserName">Name</label>
                                    <div class="controls">
                                        <select name="dest" id="transferAllInputUserName" onChange="getUserInfo(this.value)">
                                        </select>
                                    </div>
                                    <label class="control-label" for="transferAllInputUserName">Team:</label>
                                    <div class="controls">
                                        <input id="teamName" name="teamName" disabled="disabled">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="transferAllSubmit">Transfer</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
