<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Template Management</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/signin.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
    <!-- jQuery -->
    <!-- <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.js"></script> -->
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function()
    {
        $('#mytable2').DataTable();
        $.getJSON("/api/types", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                //  console.log(val.name);
                listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
            });
            $("#SelectType").html(listItems);
        });


        $.getJSON("/api/model", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                //  console.log(val.name);
                listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
            });
            $("#SelectModel").html(listItems);
        });


        $.getJSON("/api/size", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                //  console.log(val.name);
                listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
            });
            $("#SelectSize").html(listItems);
        });


        $.getJSON("/api/manu", function(data)
        {
            var listItems;
            $.each(data, function(i, val)
            {
                //  console.log(val.name);
                listItems += "<option value='" + val.name + "'>" + val.name + "</option>";
            });
            $("#SelectManufacturer").html(listItems);
        });
        $('#saveSubmit').on('click', function()
        {
            var name = $("#inputName").val().trim();
            $("#inputName").val(name);
            if (name.length == 0)
            {
                event.preventDefault();
                $('#message').html('<div class="alert alert-warning fade in"><button type="button" class="close close-alert" data-dismiss="alert" aria-hidden="true">×</button>Name can not be empty</div>');
            }

        });
    });
    $(function()
    {
        $('button#Edit').on('click', function()
        {
            $('#message').html('');
            var id = $(event.target).closest('tr').find('#id').text().trim();
            var username = $(event.target).closest('tr').find('#username').text().trim();
            var type = $(event.target).closest('tr').find('#type').text().trim();
            var manu = $(event.target).closest('tr').find('#manu').text().trim();
            var model = $(event.target).closest('tr').find('#model').text().trim();
            var size = $(event.target).closest('tr').find('#size').text().trim();
            console.log(size);
            $(".modal-title").text("Edit template");
            $("#modalform").attr("action", "template/update");
            $("#inputName").val(username);
            $("#SelectManu").val(manu);
            $("#SelectModel").val(model);
            console.log($('#SelectSize').val());
            $("#SelectSize").val(size);
            console.log($('#SelectSize').val());
            $("#SelectType").val(type);
            $('#inputId').val(id);
            console.log($('#SelectSize').val());
        });
    });
    $(function()
    {
        $('button#Add').on('click', function()
        {
            $('#message').html('');
            $(".modal-title").text("Add Template");
            $("#modalform").attr("action", "template/add");
            $("#inputName").val("");
            $('#inputId').val("");
        });
    });
    </script>
</head>

<body>
    <% include nav %>
        <div class="container">
            <h1>Template Management</h1>
            <!--     <div class="table-responsive"> -->
            <table id="mytable2" class="display">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>Size</th>
                        <th>Action</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% allTemplateInfo.forEach(function(templateInfo) { %>
                        <tr>
                            <td id="id">
                                <%=templateInfo.id %>
                            </td>
                            <td id="username">
                                <%=templateInfo.name %>
                            </td>
                            <td id="type">
                                <%=templateInfo.type %>
                            </td>
                            <td id="manu">
                                <%=templateInfo.manufacturer %>
                            </td>
                            <td id="model">
                                <%=templateInfo.model %>
                            </td>
                            <td id="size">
                                <%=templateInfo.size %>
                            </td>
                            <td>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Edit">Edit</a>
                            </td>
                            <td>
                                <div class="btn-group"><a href="\template\delete\<%= templateInfo.id %>" class="btn btn-primary">Delete</a>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                </tbody>
            </table>
            <!--       </div> -->
            <div class="form-actions">
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="Add">
                    Add
                </button>
                <!--           <button class="btn btn-lg btn-primary" type="submit">Delete</button> -->
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Template</h4>
                        </div>
                        <div id="message"></div>
                        <div class="modal-body">
                            <form class="form-horizontal" action="/template/update" method="post" name="modalform" id="modalform">
                                <input type="hidden" id="inputId" name="id"></input>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputName" placeholder="Name" name="name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inpuType">Type</label>
                                    <div class="controls">
                                        <select name="type" id="SelectType">
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Manufacturer</label>
                                    <div class="controls">
                                        <select name="Manufacturer" id="SelectManufacturer">
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Model</label>
                                    <div class="controls">
                                        <select name="Model" id="SelectModel">
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Size</label>
                                    <div class="controls">
                                        <select name="Size" id="SelectSize">
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" value="Save changes" id="saveSubmit"></input>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
</body>
