<!DOCTYPE html>
<!-- saved from url=(0040)http://getbootstrap.com/examples/signin/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="img/favicon.ico">
<title>User Management</title>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src = "js/bootstrap.js"></script>
<!-- Bootstrap core CSS -->
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="css/signin.css" rel="stylesheet">


<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="/DataTables-1.10.7/media/css/jquery.dataTables.css">
  
<!-- jQuery -->
<!-- <script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.js"></script> -->
  
<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/DataTables-1.10.7/media/js/jquery.dataTables.js"></script>


      <script>
      $(document).ready( function () {
    $('#mytable2').DataTable();
} );
            $(function(){
        $('button#Edit').on('click', function(){
          var id = $(event.target).closest('tr').find('#id').text();
          var username = $(event.target).closest('tr').find('#username').text();
          var password = $(event.target).closest('tr').find('#password').text(); 
          var teamid = $(event.target).closest('tr').find("#teamid").text();
          var emailaddress = $(event.target).closest('tr').find("#emailaddress").text();
          var role = $(event.target).closest("tr").find("#role").text();
          console.log(id +" "+username+" "+password+" "+teamid+" "+emailaddress+" " +role);
          //console.log(userId);
          $(".modal-title").text("Edit user");
          $("#modalform").attr("action","users/update");
          $("#inputName").val(username);
          $("#inputPassword").val(password);
          $("#inputTeam").val(teamid);
          $("#inputEmail").val(emailaddress);
          $("#inputRole").val(role);
          $('#inputId').val(id);
        });
      });
            $(function(){
        $('button#Add').on('click', function(){
          $(".modal-title").text("Add user");
          $("#modalform").attr("action","users/add");
          $("#inputName").val("");
          $("#inputPassword").val("");
          $("#inputTeam").val();
          $("#inputEmail").val("");
          $("#inputRole").val();
        });
      });
      </script>
    </head>

    <body>
      <% include nav %>
      <div class = "container">
        <h1>User Management</h1>
        <form class="form-search">
          <input type="text" class="input-medium search-query">
          <button type="submit" class="btn btn-lg btn-primary">Search</button>
        </form>
    <!--     <div class="table-responsive"> -->
          <table id = "mytable2"  class="display">
            <thead>
              <tr>
                <th >
                 <!--  <input class="no-margin" type="checkbox"> -->
                </th>
                <th >Id</th>
                <th >Name</th>
                <th >Password</th>
                <th  >Team</th>
                <th  >Email Address</th>
                <th >Role</th>
                <th >Action</th>
                <th >Action</th>
              </tr>
            </thead>
            <tbody>

              <% allUsersInfo.forEach(function(userInfo) { %>
              <tr>
                <td>
                  <input type="checkbox">
                </td>
                <td id="id"><%= userInfo.id %></td>
                <td id="username"><%= userInfo.username %></td>
                <td id="password"><%= userInfo.password %></td>
                <td id="teamid"><%= userInfo.teamid %></td>
                <td id="emailaddress"><%= userInfo.emailaddress %></td>
                <td  id="role"><%= userInfo.role %></td>
                <td >
                <div class="btn-group"><a href="\users\delete\<%= userInfo.id %>" class="btn btn-primary">Delete</a>
                  </div>
                </td>
                 <td ><button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="Edit">Edit</a>
                </td>
              </tr>
              <% }); %>
            </tbody>
          </table>
  <!--       </div> -->
        <div class="form-actions">
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="Add">
            Add
          </button>
          <button class="btn btn-lg btn-primary" type="submit">Delete</button>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add User</h4>
              </div>
              <div class="modal-body">
               <form class="form-horizontal" action="/users/update" method="post" name="modalform" id="modalform">
                <input type="hidden" id="inputId" name="id"></input>
                <div class="control-group">
                  <label class="control-label" for="inputName">Name</label>
                  <div class="controls">
                    <input type="text" id="inputName" placeholder="Name" name="name">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" for="inputPassword">Password</label>
                  <div class="controls">
                    <input type="text" id="inputPassword" placeholder="Password" name="password">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputTeam">team</label>
                  <div class="controls">
                    <select name="teamid" id="inputTeam">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputEmail">Email Address</label>
                  <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email Address" name="emailaddress">
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label" for="inputEmail">Role</label>
                  <div class="controls">
                    <select name="role" id="inputRole">
                      <option>1</option>
                        <option>2</option>
                        <option>3</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Save changes"></input>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </form>
              </div>

            </div>
          </div>
        </div>



      </body>

